## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# 1. Import the WeatherPy_database.csv file. 
path = ("Weather_Database\WeatherPy_Database.csv")
city_data_df = pd.read_csv(path)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,89.53,70,40,8.05,scattered clouds
1,1,Bengkulu,ID,-3.8004,102.2655,82.33,72,92,8.39,overcast clouds
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,68.07,95,75,19.91,broken clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,72.18,64,0,3.00,clear sky
4,4,Cayenne,GF,4.9333,-52.3333,75.24,100,100,2.30,overcast clouds

In [37]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [38]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Port Alfred,ZA,-33.5906,26.8910,72.18,64,0,3.00,clear sky
4,4,Cayenne,GF,4.9333,-52.3333,75.24,100,100,2.30,overcast clouds
12,12,Ribeira Grande,PT,38.5167,-28.7000,75.60,94,75,12.66,mist
13,13,East London,ZA,-33.0153,27.9116,72.54,53,0,14.97,clear sky
14,14,Vila Franca Do Campo,PT,37.7167,-25.4333,78.19,89,16,7.83,few clouds
...,...,...,...,...,...,...,...,...,...,...
714,714,Fez,MA,34.0372,-4.9998,71.85,73,75,4.61,broken clouds
719,719,Barreirinha,BR,-2.7933,-57.0700,72.32,81,79,2.15,broken clouds
721,721,Maltahohe,NaN,-24.8333,16.9833,79.11,12,0,14.56,clear sky
727,727,Motril,ES,36.7507,-3.5179,77.27,61,100,6.17,overcast clouds
729,729,Mitsamiouli,KM,-11.3847,43.2844,78.08,66,52,4.65,broken clouds

In [39]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Port Alfred,ZA,-33.5906,26.8910,72.18,64,0,3.00,clear sky
4,4,Cayenne,GF,4.9333,-52.3333,75.24,100,100,2.30,overcast clouds
12,12,Ribeira Grande,PT,38.5167,-28.7000,75.60,94,75,12.66,mist
13,13,East London,ZA,-33.0153,27.9116,72.54,53,0,14.97,clear sky
14,14,Vila Franca Do Campo,PT,37.7167,-25.4333,78.19,89,16,7.83,few clouds
...,...,...,...,...,...,...,...,...,...,...
711,711,Coxim,BR,-18.5067,-54.7600,78.17,64,7,9.71,clear sky
714,714,Fez,MA,34.0372,-4.9998,71.85,73,75,4.61,broken clouds
719,719,Barreirinha,BR,-2.7933,-57.0700,72.32,81,79,2.15,broken clouds
727,727,Motril,ES,36.7507,-3.5179,77.27,61,100,6.17,overcast clouds
729,729,Mitsamiouli,KM,-11.3847,43.2844,78.08,66,52,4.65,broken clouds

In [42]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Alfred,ZA,72.18,clear sky,-33.5906,26.8910,
4,Cayenne,GF,75.24,overcast clouds,4.9333,-52.3333,
12,Ribeira Grande,PT,75.60,mist,38.5167,-28.7000,
13,East London,ZA,72.54,clear sky,-33.0153,27.9116,
14,Vila Franca Do Campo,PT,78.19,few clouds,37.7167,-25.4333,
15,Richards Bay,ZA,73.53,scattered clouds,-28.7830,32.0377,
17,Grand Gaube,MU,79.20,overcast clouds,-20.0064,57.6608,
18,Tamandare,BR,72.48,broken clouds,-8.7597,-35.1047,
27,Saldanha,ZA,77.05,clear sky,-33.0117,17.9442,
28,Bredasdorp,ZA,76.37,clear sky,-34.5322,20.0403,

In [43]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [73]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [74]:
# 11a. Add a marker layer for each city to the map. 


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))